//background
$white_color:#fff;

//borders
$border_radius:5px;
$light_blue:#1EBAFF;

$light_orange:#ffb700;


//Gray
$lighter_gray:#E8E8E8;
$font_gray:#4E4E4E;
$light_gray:#b8b8b8;
$background_gray:#fbf9f3;
$border_gray:#dcdbd5;
$dark_gray:#8b8b8b;
$table-border-gray:#acacac;

//Green
$medium_green:MediumSeaGreen;
$font_green:#006C50;
$light_green:#0ebb79;

//Oranges
$light_orange:#f37021;
$medium_orange:#f15a25;


//tabs
$tabs-base-color:#fff;