
.topmenu {
    width: 100%;
    height: 48px;
    background: rgba(#ececed, .8);
    border-bottom: 1px solid $light_gray;
}

//هواپیمایی ای که تو صفحه اول بالای صفحه روی منو ها میفته
.airplane img {
    width: 750px;
    max-width: 80%;
    height: auto;
    text-align: center;
    display: block;
    position: relative;
    top: -20px;
    margin:0 auto;
    // left: 50%;
    // transform: translateX(-50%);
    animation:airplane 4.5s .05s ease-in-out backwards ;
}



.topmenu-container {
    // border: 1px solid red;
    height: 90%;
    // width: 80%;
    // max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-wrap: wrap;
}

ul.menu {
    display: flex;
    align-items: center;
    // border:1px solid green;
    height: 100%;
}

.menu-item{
    // border:1px solid blue;
    display: flex;

    padding: 0 4px;
    border-left: 1px solid $light_gray;
    cursor: pointer;
    transition: all .5s ease;

    img {
        height: 20px;
        width: 20px;
        margin-left: 5px;
    }
    a{
        color:#58595b;
        // font-size: 14px;
    }
    .tel{
        // padding-right: 5px;
        padding-right: 3px;
    }

    &:hover{
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(5px);
        padding:5px;
        border:1px solid rgba(255, 255, 255, .15);
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    }
}

.other{
    border:none;
    a{
        // font-size: 20px;
    }
}
.left-menu{
    margin-right: auto;
    &:first-child,:last-child{
        border:none;
    }
}

.logo img{
    width:100px;
    height: 40px;
    padding-top: 5px;
    
}


// منوی همبرگری ریسپانسیو

.hamberger-menu{
    cursor: pointer;
    display: none;
    margin-right:5px;
    padding:5px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }


  
/* start of desktop styles */

@media screen and (max-width: 991px) {
    .hamberger-menu{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .hamberger-menu{
        display: block;
    }

    ul.right-menu {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: colsumn;
        background: white;
        top:0px;
        right:10px;
        width:100%;
        z-index: 10;

        &.hide{
            display: none;
        }

        li{
            display: block;
            background: white;
            width:50%;
            padding:10px;
            border-bottom: 1px dashed black;

            
        }
    }

    ul.left-menu {
        // width: 100vh;
        // margin: 0 auto;
        float:left;
        // position: relative;
        // left:0;
        // top:0;
    }
}

@media screen and (max-width: 479px) {

   
}